/*This outputs the background of the website*/
body {
  margin: 10px;
  background-image: url("background.png");
  background-attachment: fixed;
  background-size: cover;
}

/*This is the control where the first row of columns goes, and how spaced they are*/
.topRowIcons{
  justify-self: stretch; 
  display: grid;
  grid-template-columns: 570px 600px 120px;
  grid-gap: 50px 50px;
}

/*This is the control where the second row of columns goes, and how spaced they are*/
.middleRowIcons{
  position: relative;
  top: 75px;
  justify-self: stretch; 
  display: grid;
  grid-template-columns: 650px 560px 0px;
  grid-gap: 50px 50px;
}

/*This is the control where the third row of columns goes, and how spaced they are*/
.lowRowIcons{
  position: relative;
  top: 250px;
  justify-self: stretch; 
  display: grid;
  grid-template-columns: 650px 560px 0px;
  grid-gap: 50px 50px;
}
